html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: url("stick-season-album-cover.jpg");
  background-attachment: fixed;
  background-size: 70%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-color: #5D604B;
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    background-size: contain;
  }
}


.container {
  display: flex;
  align-items: center;
}

input {
  font-size: 1.2em;
  padding: 10px;
  margin: 0px 0 0 0;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  max-width: 500px;
}

.input-row input {
  flex: 1;
  font-size: 1.2em;
  padding: 10px;
  box-sizing: border-box;
}

.input-row button {
  font-size: 1em;
  padding: 10px 14px;
  cursor: pointer;
  background-color: lightcoral;
  border-radius: 3px;
  border-color: lightcoral;
}

.input-row:disabled {
  cursor: default;
}

#lyrics {
  font-size: 1.2em;
  word-wrap: break-word;
  white-space: pre-wrap;
  column-width: 400px;
  column-gap: 2em; 
  width: 100%;
  max-width: 1200px;
}

.line {
  margin-bottom: .5em;
  break-inside: avoid;
  /* background: #333; */
}

.word {
  display: inline-block;
  /* margin-right: 0.25em; */
}

.lyric-hidden {
  background: #333;
  color: transparent;
  border-radius: 3px;
  padding: 0 4px;
  height: 1em; 
  line-height: 1em;
  vertical-align: bottom;
  user-select: none;
}

.revealed {
  color: white;
  background: rgba(51, 51, 51, .5);
  border-radius: 3px;
  padding: 0 4px;
}

h1 {
  color: white;
  background: rgba(51, 51, 51, .5);
  border-radius: 10px;
  padding: 0 10px;
}

#score {
  margin-top: 6px;
  font-size: 1em;
  color: white;
  text-align: center;
}

#header {
  flex-shrink: 0;/
}

#content {
  flex: 1; 
  width: 100%;
  max-width: 1200px;

  overflow-y: auto;
  padding-bottom: 60px;
  padding-top: 10px;
}

#winSummary {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  color:white;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal-content {
  background: #333;
  color: white;
  padding: 25px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

#reopenModalBtn {
  background: #333;
  color: white;
  border-radius: 3px;
  border-color: #333;
}